<h1>About</h1>
<p>It's a sample application to demonstrate NoSQL with Ruby On Rails</p>
<p>Tickets is a traditional Active::Records with a SQL Database</p>
<p>Translations is a i18n backend with Redis to store key:value</p>
<p>Notes is a MongoDB object. You can define custom field. This object was dynamic</p>
<p>It's not a functionnal application</p>
