<h1>About</h1>
<p>This is a application to demonstrate Rails + MongoDB & Redis</p>
<p>Tickets & Statuses are traditional Active::Records with a SQL Database</p>
<p>Translations is a i18n backend with Redis to store key:value</p>
<p>Notes is a MongoDB object. You can define custom field. This object was dynamic</p>
<p>It's not a functional application</p>
<p>You can found source here: <a href="https://github.com/nledez/MyTicketsDemoNoSQL">@github</a>
<p>You can found source here: <a href="http://my-tickets.herokuapp.com/about">@heroku</a>